.body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

ul {
    top: 40%;
    margin: auto;
    padding: 0;
    width: fit-content;
    text-align: center;
    position: relative;
    display: flex;
}

li {
    font-size: 65px;
    position: relative;
    list-style-type: none;
    transform: rotate(-45deg) skew(15deg, 15deg);
    padding: 30px;
}

i {
    z-index: 10;
    position: relative;
}

li:hover {
    transition-duration: 1.5s;
    transform: rotate(-45deg) skew(15deg, 15deg) translate(40px, -40px);
}